.checkPriceBtn {
  width: 95%;
  margin-top: 5px;
  padding: 10px 0px;
  text-align: center;
  height: fit-content;
  background-color: #22a5f1;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.filterContainer {
  height: 100vh;
  width: 22vw;
  background-color: #000000;
  color: white;
  position: absolute;
  top: 0;
  padding: 10px;
}

.logo {
  height: 13vh;
  padding: 20px 0px;
  margin: auto;
}

.logoContainer {
  width: 78vw;
  margin-left: auto;
  background-color: black;
}

.modal {
  background-color: black;
  color: white;
  position: fixed;
  height: 100vh;
  z-index: 10;
  padding: 10px 15px;
}

.mobileFilterBtn {
  position: absolute;
  top: 35px;
  right: 30px;
  display: none;
}

.noMatchingGiftsMessage {
  color: black;
  font-size: 28px;
  font-weight: bold;
  width: 78vw;
  height: 87vh;
  margin-left: auto;
  text-align: center;
  padding-top: calc((87vh / 2) - 13vh);
  overflow: hidden;
}

.productCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 22vw;
  width: fit-content;
  overflow-x: hidden;
  max-height: 87vh;
  padding: 0px 10px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 500px;
  width: 275px;
  border-radius: 10px;
  border: 2px solid rgb(230, 230, 230);
  box-shadow: 1px 1px 1px 1px lightgray;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: white;
}

.productName {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 18px;
}

.productDescription {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 140px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1500px) {
  .filterContainer {
    width: 30vw;
  }
  .logoContainer {
    width: 70vw;
  }
  .logo {
    height: 13vh;
    padding: 10px 0px;
    margin: auto;
  }
  .noMatchingGiftsMessage {
    width: 70vw;
  }
  .productCardsContainer {
    width: 70vw;
    margin-left: auto;
  }
  .productCard {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .logoContainer {
    padding: 10px 0px;
    width: auto;
    height: 15vh;
  }
  .logo {
    padding: 0px;
    height: 100%;
    margin: auto;
  }
  .filterContainer {
    display: none;
  }
  .mobileFilterBtn {
    display: block;
  }
  .noMatchingGiftsMessage {
    width: 80vw;
    height: 85vh;
    margin: auto;
    font-size: 18px;
  }
  .productCardsContainer {
    margin-left: 0px;
    padding: 0px;
    width: 100vw;
  }
  .productCard {
    width: 95vw;
  }
}
